<div class="row co-header">
  <div class="col-md-3">
    <div class="display-none">Billing Section</div>
  </div>
  <div class="col-md-4">
  </div>
  <div class="col-md-2">
    <div></div>
  </div>
  <div class="col-md-2">
    <div></div>
  </div>
</div>
<%= form_tag billing_path, multipart: true, id: "upload-excel-product" do %>
  <div class='row display-none'>
    <div class='col-md-3'>
      <%= label_tag 'Barcode'%>
      <%= text_field_tag "barcode", '', class: 'form-control', required: true, placeholder: "Enter Barcode", onchange: "updateProductDetail(this)"%>
    </div>
    <div class='col-md-1' style="margin-top: 29px;">or</div>
    <div class="col-md-3" style="margin-left: -59px;">
      <%= label_tag 'Select Product'%>
      <%= select_tag "product", options_from_collection_for_select(PurchasedItem.all, :id, :item_name), { include_blank: 'Select a Product', class: 'form-control', required: true, id: 'product-id', onchange: "fetchAvailableQuantity(this)"} %>
    </div>
  </div>
  <br>
  <div class="row display-none">
    <div class="col-md-3">
      <%= label_tag 'Product Name'%>
      <%= text_field_tag "product-name", '', class: 'form-control', readonly: true %>
    </div>
    <div class="col-md-2">
      <%= label_tag 'Price'%>
      <%= text_field_tag "price", 'Rs.0', class: 'form-control', readonly: true %>
    </div>
    <div class="col-md-2">
      <%= label_tag 'Quantity available'%>
      <%= text_field_tag "quantity-available", '0', class: 'form-control', readonly: true %>
    </div>
    <div class="col-md-2">
      <%= label_tag 'Quantity'%>
      <%= text_field_tag "quantity", '', class: 'form-control', required: true, placeholder: "Enter quantity ex: 4, 5", onkeyup: "validateNumericField(this);checkAvailableQuantity(this)" %>
    </div>
    <div class="col-md-3"><br>
      <input type="button" class="add-product btn btn-primary" value="Add Item" class="form-control'">
    </div>
  </div>
  <br>
  <div class="thermal-printer">
    <div class="row">
      <div class="mall-address" style="display: none;">
        <p style="font-weight: bold;margin-left: 120px;margin-top: 15px">MEENU MART</p>
        <p style="font-weight: bold;margin-left: 210px;margin-top: -15px;font-size: 8px;"><%= image_tag 'meenu-mart-logo.jpg', width: "50px", height: "20px" %></p>
        <div style="margin-left: 80px;font-size: 6px">OPP. ASHRAM SCHOOL KOVAIPUDUR, COIBATORE - 641012.</div>
        <div style="font-weight: bold;margin-left: 115px;font-size: 6px">GSTIN : 33BPHPN5266A1Z4</div>
        <div style="font-weight: bold;margin-left: 80px;font-size: 6px">Phone: +91 9372626283 || For Franchasie: +91 9344831095</div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-9">
        <table id="custom-table">
          <thead>
            <tr>
              <th class= "display-none"><%= check_box_tag 'select-all'%></th>
              <th>Product Name</th>
              <th>Price</th>
              <th width="100px;">Quantity</th>
              <th width="150px;">Total Value</th>
            </tr>
            <br>
          </thead>
          <tbody>
          </tbody>
        </table>
        <button type="button" class="delete-product btn btn-danger display-none" style="margin-top: 30px">Remove Item</button>
        <div class ="display-none" style="margin-left: 800px;margin-top: -76px"><%= label_tag 'GST'%>&nbsp;&nbsp;<%=check_box_tag 'gst', 'yes', true%></div>
      </div>
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4"></div>
    <div class="col-md-2" style="margin-left: -20px;margin-top: -10px;"><%=  button_tag "Print", class: "btn btn-success display-none", type: "button", onclick: "PrintBill()" %></div>
  </div>
<% end %>
<script type="text/javascript">
  function updateProductDetail(entered_barcode) {
    var barcode = entered_barcode.value
    $.ajax({
      url: '/purchased_items/fetch_barcode_detail'+'?barcode=' + barcode,
      type: 'GET',
      success: function(data){
        var jsonData = Object(data)
        if (jsonData.length !== 0) {
          $("#product-id").val(jsonData[0])
          $("#product-name").val(jsonData[1])
          $("#price").val(jsonData[2])
          $("#quantity-available").val(jsonData[3])
          $("#quantity").val(1)
          $("#barcode").val('')
          toastr.success("Item loaded")
        }
        else {
          $("#product-id").val('')
          $("#product-name").val('')
          $("#price").val("Rs.0")
          $("#quantity-available").val(0)
          $("#quantity").val('')
          $("#barcode").val('')
          toastr.error("No Item found")
        }
      }
    });
  }
  function PrintBill() {
    var rowCount = $('#custom-table tr').length;
    if (rowCount <= 1) {
      toastr.error("There is no product to print")
    }
    else {
      var arrProductData = [];
      var loopCount = 0
      $("#custom-table tr").each(function(){
        if (loopCount > 0 && loopCount < (rowCount-1)) {
          var currentRow = $(this);
          var productId = currentRow.find("td:eq(1)").attr('id').split("_")[2]
          var price = currentRow.find("td:eq(2)").text().split("Rs.")[1];
          var quantity = currentRow.find("td:eq(3)").text();
          var subTotalPrice = currentRow.find("td:eq(4)").text().split("Rs.")[1];
          var obj = {};
          obj.product_id = productId;
          obj.price = price;
          obj.quantity = quantity;
          obj.sub_total = subTotalPrice;
          arrProductData.push(obj);
        }
        loopCount += 1
      });
      var data =  JSON.stringify(arrProductData)
      var confirmation = confirm("Press a button!\nEither OK or Cancel.\nAfter pressing OK items will be reduced from Stock.");
      if (confirmation == true) {
        $.ajax({
          url: '/purchased_billings/billing_for_product'+'?product_details=' + data,
          type: 'POST',
          success: function(data){
            var jsonData = Object(data)
            $("#quantity-available").val(jsonData[3]);
            var total = parseFloat($('#grand-total').text().split("TotalRs.")[1])
            var cgst_tax = total * 2.5/100
            var sgst_tax = total * 2.5/100
            var items_cost  = total - cgst_tax - sgst_tax
            var actual_cost = "<tr><td colspan='5' class=colspan>"+'Items Cost'+"</td><td>"+'Rs.'+ items_cost.toFixed(2) +"</td</tr>";
            var cgst = "<tr><td colspan='5' class=colspan>"+'CGST'+"</td><td>"+'Rs.'+ cgst_tax.toFixed(2) +"</td</tr>";
            var sgst = "<tr><td colspan='5' class=colspan>"+'SGST'+"</td><td>"+'Rs.'+ sgst_tax.toFixed(2) +"</td</tr>";
            var net_amount = "<tr><td colspan='5' class=colspan>"+'Net Amount'+"</td><td>"+'Rs.'+ total.toFixed(2) +"</td</tr>";
            if ($('#gst').is(':checked')) {
              $("table tbody").append(actual_cost);
              $("table tbody").append(cgst);
              $("table tbody").append(sgst);
              $("table tbody").append(net_amount);
            }
            $('.colspan').attr('colspan', 3);
            window.print();
          }
        });
      } else {
        txt = "You pressed Cancel!";
      }
    }
  }
  function validateNumericField(field_id){
    var value = $(field_id).val();
    var exp = /((([0-9]+\.[0-9]+)$)|([0-9]+$))/
    var result = value.search(exp)
    if(result!=0){
      $(field_id).val('')
    }
  }
  function checkAvailableQuantity(enteredQuantity) {
    var productValueId = $('#product-id').val()
    var enteredQuantity = parseInt(enteredQuantity.value)
    var selectedQuantity = parseInt($('#quantity_'+ productValueId).text());
    var quantityAvailable = parseInt($('#quantity-available').val());
    if (enteredQuantity > quantityAvailable ) {
      $('#quantity').val('')
      toastr.error("Availbale product quantity is less")
    }
    else if ((enteredQuantity+selectedQuantity) > quantityAvailable) {
      $('#quantity').val('')
      toastr.error("Availbale product quantity is less")
    }
  }
  function fetchAvailableQuantity(selected) {
    $('#quantity').val('')
    if (selected.value !== "") {
      $.ajax({
        url: '/purchased_items/fetch_product_detail'+'?product_id=' + selected.value,
        type: 'GET',
        success: function(data){
          var jsonData = Object(data)
          $("#price").val('Rs.'+jsonData[2].toFixed(2));
          $("#quantity-available").val(jsonData[3]);
          $("#product-name").val(jsonData[1]);
        }
      });
    }
    else {
      $("#quantity-available").val(0);
      $("#price").val('Rs.0');
      $("#product-name").val('');
    }
  }
  $(document).ready(function(){
    $('#product-id').select2();
    $(".add-product").click(function(){
      var productId = $('#product-id').val()
      var quantity = $('#quantity').val()
      var quantityAvailable = parseInt($('#quantity-available').val());
      if(productId == "") {
        toastr.error("Please select Product")
      }
      else if(quantity == "" || quantity == 0) {
        toastr.error("Please enter Quantity")
      }
      else if(quantityAvailable == "" || quantityAvailable == 0) {
        toastr.error("Product is not available")
      }
      else {
        var productValueId = $('#product-id').val()
        var previousProduct = $('#product_name_'+ productValueId).text()
        var previousQuantity = parseInt($('#quantity_'+ productValueId).text());
        var enteredQuantity = parseInt($('#quantity').val());
        var updatedQuantity = previousQuantity + enteredQuantity;
        if (updatedQuantity > quantityAvailable) {
          $('#quantity').val('')
          toastr.error("Availbale product quantity is less")
        }
        else if (previousProduct !== undefined && previousProduct !== "") {
          var price = parseFloat($('#price_'+productValueId).text().split("Rs.")[1]);
          var subTotal = price*updatedQuantity
          $('#quantity_'+ productValueId).text(updatedQuantity);
          $('#sub_total_'+ productValueId).text('Rs.'+subTotal.toFixed(2));
          $('#grand-total').remove();
          var totalAmount = 0
          $("table tbody").find('.sub_total').each(function(){
            var amount = parseFloat(this.textContent.split("Rs.")[1])
            totalAmount = totalAmount + amount
          });
          var total = "<tr id=grand-total><td colspan='4' class=colspan>"+'Total'+"</td><td>"+'Rs.'+totalAmount.toFixed(2)+"</td</tr>";
          $("table tbody").append(total);
          toastr.success("Product added successfully!")
        }
        else {
          $.ajax({
            url: '/purchased_items/fetch_product_detail'+'?product_id=' + productId,
            type: 'GET',
            success: function(data){
              var jsonData = Object(data)
              var markup = "<tr><td class=display-none><input type='checkbox' name='record'></td><td id= "+'product_name_'+jsonData[0]+">"+jsonData[1] + "</td><td id="+'price_'+jsonData[0]+">" +'Rs.'+ (jsonData[2]).toFixed(2).toString() + "</td><td id="+'quantity_'+jsonData[0]+">"+ quantity +"</td><td class=sub_total id="+'sub_total_'+ jsonData[0]+">"+ 'Rs.'+(parseInt(jsonData[2])*parseInt(quantity)).toFixed(2).toString()+"</td></tr>";

              var totalAmount = parseInt(jsonData[2])*parseInt(quantity)

              $("table tbody").find('.sub_total').each(function(){
                var amount = parseFloat(this.textContent.split("Rs.")[1])
                totalAmount = totalAmount + amount
              });

              $('#grand-total').remove();
              var total = "<tr id=grand-total><td colspan='4' class=colspan>"+'Total'+"</td><td>"+'Rs.'+totalAmount.toFixed(2)+"</td</tr>";
              $("table tbody").append(markup);
              $("table tbody").append(total);
              toastr.success("Product added successfully!")
            }
          });
        }
      }
    });
    $(".delete-product").click(function(){
      $("table tbody").find('input[name="record"]').each(function(){
        if($(this).is(":checked")){
          $(this).parents("tr").remove();
          toastr.success("Product removed successfully!")
        }
      });
      $('#grand-total').remove();
      var totalAmount = 0
      $("table tbody").find('.sub_total').each(function(){
        var amount = parseFloat(this.textContent.split("Rs.")[1])
        totalAmount = totalAmount + amount
      });
      var total = "<tr id=grand-total><td colspan='4' class=colspan>"+'Total'+"</td><td>"+'Rs.'+totalAmount.toFixed(2)+"</td</tr>";
      $("table tbody").append(total);
    });
    $("#select-all").click(function(){
      $("table tbody").find('input[name="record"]').each(function(){
        $(this).prop('checked', ($(':checkbox').prop('checked')) ? true : false);
      });
    });
  });

</script>
<style>
  @media print {
    @page {
      size: auto;   /* auto is the initial value */
      margin: 0;  /* this affects the margin in the printer settings */
    }
    .display-none {
      display:none;
    }
    .mall-address {
      display:block !important;
      margin-left: -50px !important;
    }
    #custom-table td, th {
      border: none !important;
    }
    #custom-table {
      border: none !important;
    }
    .toast {
      display: none;
    }
    #grand-total td{
      border-top: 1px dashed black !important;
    }
    tr th:first-child, tr td:first-child { text-align: left; }
    #custom-table tr:last-child { border-top: 1px dashed black !important;font-weight: bold !important;}
    .thermal-printer{
      box-shadow: 0 0 1in -0.25in rgba(0, 0, 0, 0.5) !important;
      font-size: 8px !important;
      padding:2mm !important;
      margin: 0 auto !important;
      width: 59mm !important;
      background: #FFF !important;
      ::selection {background: #f31544; color: #FFF !important;}
      ::moz-selection {background: #f31544; color: #FFF !important;}
    }
  }

  #product-id {
    position: relative;
    z-index: 2;
    float: left;
    width: 100%;
    margin-bottom: 0;
    display: table;
    table-layout: fixed;
  }
  .select2-container .select2-selection--single {
    height: 39px;
    padding-top: 5px
  }
  .select2-selection__arrow {
    margin-top: 5px;
  }
  form{
    margin: 20px 0;
  }
  form input, button{
    padding: 5px;
  }
  table{
    width: 100%;
    margin-bottom: 20px;
    border-collapse: collapse;
  }
  table, th, td{
    border: 1px solid #cdcdcd;
  }
  table th, table td{
    padding: 9px;
    text-align: left;
  }

</style>
